{% extends "base.html" %}

{% block content %}
<section class="p-5">
  <div class="container">
    <div class="d-flex flex-column align-items-center">
      <div class="w-100 mb-3 d-flex justify-content-between align-items-center">
        <h3>{{object}}</h3>
        <div onclick="fullscreen()">
          <span class="material-icons">open_in_full</span>
        </div>
      </div>
      <canvas id="canvas" class="w-50"></canvas>
    </div>
  </div>
</section>
{% endblock %}

{% block script %}
<script>
  function fullscreen() {
    document.getElementById('canvas').requestFullscreen();
  }
</script>
{% endblock %}