{% extends "base.html" %}

{% block content %}
<section class="p-5">
  <div class="container w-75">
    <div class="d-flex align-items-center justify-content-between mb-3">
      <h3>{{object_list.count}} Games Aviable</h3>
      <form>
        <div class="btn-group" role="group" aria-label="Basic example">
          {% for key, value in filter_choices.items %}
          {% if value == current_filter %}
          <input type="radio" class="btn-check" name="filter" value="{{key}}" id="{{key}}" autocomplete="off" checked>
          {% else %}
          <input type="radio" class="btn-check" name="filter" value="{{key}}" id="{{key}}" autocomplete="off">
          {% endif %}
          <button class="btn btn-primary" type="submit"><label for="{{key}}">{{key|title}}</label></button>
          {% endfor %}
        </div>
      </form>
    </div>
    {% for game in object_list %}
    <div class="border p-3 mb-2">
      <div class="d-flex align-items-center justify-content-between">
        <h3><a href="{{game.get_absolute_url}}">{{game.title}}</a> by {{game.author}}</h3>
        <div></div>
      </div>
      <div class="row">
        <div class="col-4">
          <img class="img-fluid" src="{{game.thumbnail.url}}" alt="">

        </div>
        <p class="col-8">{{game.description}}</p>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
{% endblock %}