{% extends "base.html" %}

{% block content %}
<section class="p-5">
  <div class="container w-75">
    <div class="d-flex align-items-center justify-content-between mb-3">
      <h3>{{object_list.count}} Games Aviable</h3>
      <div class="btn-group" role="group" aria-label="Basic example">
        <input type="radio" class="btn-check" name="filter" id="popularity" autocomplete="off" checked>
        <label class="btn btn-primary" for="popularity">Popularity</label>
        <input type="radio" class="btn-check" name="filter" id="recently_updated" autocomplete="off">
        <label class="btn btn-primary" for="recently_updated">Recently Updated</label>
        <input type="radio" class="btn-check" name="filter" id="alphabetically" autocomplete="off">
        <label class="btn btn-primary" for="alphabetically">Alphabetically</label>
      </div>
    </div>
    {% for game in object_list %}
    <div class="border p-3">
      <div class="d-flex align-items-center justify-content-between">
        <h3><a href="{{game.get_absolute_url}}">{{game.title}}</a> by {{game.author}}</h3>
        <div></div>
      </div>
      <div class="row">
        <div class="col-4">
          <img class="img-fluid" src="{{game.thumbnail.url}}" alt="">

        </div>
        <p class="col-8">{{game.description}}</p>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
{% endblock %}