{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="{% static 'index.css' %}">
  {% block title %}
    <title>WorldSkills - Games</title>
  {% endblock %}
</head>

<body>
<div class="page">
  <header class="header">
    <div class="container">
      <div class="d-flex align-items-center justify-content-between">
        <h2 class="fw-bold user-select-none">WorldSkills - Games</h2>
        <nav class="nav justify-content-center">
          <a class="nav-link active" href="{% url 'games:list' %}">Games</a>
          <a class="nav-link" href="{% url 'games:new' %}">Create new game</a>
        </nav>
        <div>
          {% if user.is_authenticated %}
            <a class="me-3" href="{% url 'users:profile' %}">{{ user }}</a>
            <a class="link-secondary" href="{% url 'users:signout' %}">Sign Out</a>
          {% else %}
            <a class="me-3" href="{% url 'users:signin' %}">Sign In</a>
            <a class="link-secondary" href="{% url 'users:signup' %}">Sign Up</a>
          {% endif %}
        </div>
      </div>
    </div>
  </header>
  <main class="main">
    {% block content %}

    {% endblock %}
  </main>
  <footer class="footer pt-3 pb-3 mt-auto">
    <div class="container">
      Made with Django
    </div>
  </footer>
</div>
<script src="{% static 'index.js' %}"></script>
{% block script %}

{% endblock %}
</body>

</html>