{% load game_result %}

<div>
  <div class="d-flex align-items-center justify-content-between">
    <h3><a href="{{ game.get_absolute_url }}">{{ game.title }}</a> by {{ game.author }}</h3>
    {% if user.is_authenticated %}
      {% game_result_from_game_and_profile game user.profile as game_result %}
      <div>
        {% if game_result %}
          # scores submitted {{ game_result.points }}
        {% else %}
          <span class="text-danger">You have not saved the result of the game.</span>
        {% endif %}
      </div>
    {% endif %}

  </div>
  <div class="row">
    <div class="d-flex col-4 justify-content-center">
      <img class="img-fluid" src="{{ game.thumbnail_url }}" alt="">
    </div>
    <p class="col-8">{{ game.description }}</p>
  </div>
</div>