{% extends "base.html" %}
{% load static %}
{% block content %}
  <section class="p-5">
    <div class="container">
      <div class="d-flex flex-column align-items-center">
        <div class="w-100 mb-3 d-flex justify-content-between align-items-center">
          <h3>{{ object }}</h3>
          <h4 id="game-result" class="me-1">

          </h4>
          <form method="post">
            {% csrf_token %}
            {{ game_result_form.points }}
            <button class="btn btn-outline-primary" type="submit">Save game result</button>
          </form>
        </div>
        <div class="w-100 d-flex flex-column align-items-center">
          <iframe id="game" src="{{ object.html_url }}"></iframe>
          <div class="w-100 d-flex justify-content-between">
            <div class="w-50 pe-4">
              <div class="w-100 mb-4">
                <h4>Top 10 leaderboard</h4>
                <div class="w-100">
                  {% for game_result in object.game_results.all %}
                    <div class="d-flex justify-content-between">
                      <div>
                        {{ game_result.profile }}
                      </div>
                      <div>
                        {{ game_result.points }}
                      </div>
                    </div>
                  {% empty %}
                    <div class="text-danger">
                    There are no results here yet, but you can play the game and be the first to save the results.
                    </div>
                  {% endfor %}
                </div>
              </div>
            {% if user.is_authenticated %}
            <div class="d-flex justify-content-between">
                <h5>{{ user }}</h5>
                <div>
                  {% if profile_game_result %}
                    {{profile_game_result.points}}
                  {% else %}
                    <span class="text-danger">You have not saved the result of the game.</span>
                  {% endif %}
                </div>
              </div>
            {% endif %}


            </div>
            <div class="w-50">
              <h4>Description</h4>
              <p>{{ object.description }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block script %}
  <script src="{{ object.extracting_script_url }}"></script>
  <script>

  </script>
  <script src="{% static 'game_detail.js' %}"></script>

{% endblock %}