{% extends "base.html" %}

{% block content %}
  <section class="p-5">
    <div class="container w-75">
      <div class="d-flex align-items-center justify-content-between mb-3">
        <h3>{{ object_list.count }} Games Aviable</h3>
        <form>
          <div class="btn-group" role="group" aria-label="Basic example">
            {% for key, value in filter_choices.items %}
              {% if value == current_filter %}
                <input type="radio" class="btn-check" name="filter" value="{{ key }}" id="{{ key }}" autocomplete="off"
                       checked>
              {% else %}
                <input type="radio" class="btn-check" name="filter" value="{{ key }}" id="{{ key }}" autocomplete="off">
              {% endif %}
              <button class="btn btn-primary" type="submit" data-check="{{ key }}">{{ value.1 }}</button>
            {% endfor %}
          </div>
          <div class="btn-group" role="group" aria-label="Basic example">
            {% if current_sort == 'asc' %}
              <input type="radio" class="btn-check" name="sort" value="asc" id="asc" autocomplete="off" checked>
            {% else %}
              <input type="radio" class="btn-check" name="sort" value="asc" id="asc" autocomplete="off">
            {% endif %}
            <button class="btn btn-primary" type="submit" data-check="asc">ASC</button>
            {% if current_sort == 'desc' %}
              <input type="radio" class="btn-check" name="sort" value="desc" id="desc" autocomplete="off" checked>
            {% else %}
              <input type="radio" class="btn-check" name="sort" value="desc" id="desc" autocomplete="off">
            {% endif %}
            <button class="btn btn-primary" type="submit" data-check="desc">DESC</button>
          </div>
        </form>
      </div>
      {% for game in object_list %}
        <div class="mb-4">
          {% include 'games/game_item.html' %}
        </div>
      {% endfor %}
    </div>
  </section>
{% endblock %}