{% extends "base.html" %}

{% block content %}
<section class="p-5">
  <div class="container">
    {% for game in object_list %}
    <form action="{{game.get_api_url}}" data-override-method="put" enctype="multipart/form-data">
      {% csrf_token %}
      <input class="d-none" type="file" accept="image/*" name="new_image" id="new_image">
      <div class="border p-3 mb-2">
        <div class="row mb-2">
          <label for="new_title">New Title: </label>
          <div>
          <input class="form-control" type="text" name="new_title" id="new_title" value="{{game.title}}">
          </div>
          <label for="new_slug">New Url:</label>
          <div>
            <input class="form-control" type="text" name="new_slug" id="new_slug" value="{{game.slug}}">
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-4">
            <label for="new_image">
              <img class="img-fluid" src="{{game.thumbnail.url}}" alt="">
            </label>
          </div>
          <p class="col-8">
            <label for="new_description">New Description</label>
            <textarea class="form-control" name="new_description" id="new_description" cols="30" rows="10">
              {{game.description}}
            </textarea>
          </p>
        </div>
        <div>
          <button class="btn btn-primary me-3">Save</button>
          <form class="d-inline-block" data-override-method="delete" action="{{game.get_absolute_api_url}}">
              {% csrf_token %}
              <button class="btn btn-danger ms-auto" href="{{game.get_delete_url}}">Delete game</button>
          </form>
        </div>
      </div>
    </form>
    {% empty %}
    <h3 class="text-danger">You don't have any games</h3>
    {% endfor %}
  </div>
</section>
{% endblock %}